*.jpeg
*.html
*.png
*.class
*.project
cucumber.cc.dlg/test-output/
dlg.wj/.settings/
dlg.wj/test-output/
.metadata/
.recommenders/
Jenkins_Dashboard/test-output/
com.common.dlg/target/classes/META-INF/
com.common.dlg/target/maven-status/
cucumber.cc.dlg/target/classes/META-INF/
cucumber.cc.dlg/target/html/
cucumber.cc.dlg/target/maven-status/
cucumber.cc.dlg/target/surefire/
cucumber.cc.dlg/target/surefire-reports/
cucumber.ss.dlg/target/classes/META-INF/
cucumber.cc.dlg/target/json/
cucumber.ss.dlg/target/html/
cucumber.ss.dlg/target/json/
cucumber.ss.dlg/target/maven-status/
cucumber.ss.dlg/target/surefire-reports/
dlg.wj/target/maven-status/
dlg.wj/target/classes/META-INF/
dlg.wj/target/surefire-reports/
Jenkins_Dashboard/target/classes/META-INF/
Jenkins_Dashboard/target/surefire-reports/
Jenkins_Dashboard/target/maven-status/
SSP_DLG_HealthCheck_Screenshot/.settings/
SSP_DLG_HealthCheck_Screenshot/target/
SSP_DLG_HealthCheck_Screenshot/test-output/
