<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DLG - UXP - CC Test Suite" allow-return-values="true">
	<listeners>
		<listener class-name="listeners.CustomListeners"></listener>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	<test name="Contact Centre Test Pack" allow-return-values="true">
		<packages>
			<package name="cucumber.cc.dlg" />
		</packages>
		<classes>
			<class name="cucumber.cc.dlg.CCrunnerTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->